.App {
  text-align: center;
}

.App-logo {
  width:440px;
  pointer-events: none;
  padding-top: 100px;
  padding-left: 170px;
}
.container{
  display: table-column;
  align-items: center;
  position: absolute;
  right: 160px;
  text-align: right;
}
.desgin{
  background: -webkit-linear-gradient(1deg, #8456EC,#E87BF8);
  background-clip: text;
  -webkit-text-fill-color: transparent;;
}
.not{
  margin-top: 270px;
  margin-right: auto;
  text-align: right;
  font-family: Helvetica;
  color: #240D57;
  font-weight: 700;
  font-size: 64px;
}
.box{
  height: 55px;
  width: 320px;
  background: linear-gradient(90deg, #8456EC,#E87BF8);
  color: white !important;
}
.down{
  font-size: 27.6px;
  text-align: right;
  font-weight: 300;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
